<div class="container-fluid"><div class="row">
    
    <div id="banner" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       
        <div >
           
            <img [src]="Persona.backimagen"  style="z-index: -3; position: relative; background-repeat: repeat;">
            
        </div>
        
        
        <button type="button" class="btn btn-default btn-xs"></button>
    
    </div>
    </div></div>



<div class="container">
    
 
    <div class="row">

  
        <div id="datos" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div id="fotoperfil"> 
                    <div> <img [src]="Persona.imagen" class="img-fluid"></div>

            </div>
                <div id="nombre" >
                    
                    <p class="h3">{{Persona.nombreCompleto}}</p>
                    <p class="h5">{{Persona.titulos}}</p>
                    <p class="h6">{{Persona.ubicacion}} - Cel: {{Persona.telefono}}</p>

    </div>
    </div>
        <div id="acerca" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
         <span>
            <div class="fas fa-pen"(click)="editPost(Persona.id)"> </div>
            <p class="h4">Acerca de Mi</p> 
            
            <p class="cuerpo">
                {{Persona.acerca}}
            </p>
         </span>
        </div>
    </div>
           
            
    <div class="separador"> </div>
</div>
    
   