
#fotoperfil{
    background-position: 50%;
    border-radius: 50%;
    border: 3px solid white;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 220px;
    width: 220px;
    margin-top: -125px;
    margin-left: 17%;
    box-shadow: rgb(88, 88, 88) 0px 0px 5px 1px ;
    overflow: hidden;
}

#banner{
  margin: 0;
  padding: 0;
  z-index: -100;
  width: 100%;
  height: 300px;
  overflow: hidden;
  
  -webkit-box-shadow: inset 0px 3px 17px -6px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 3px 17px -6px rgba(0,0,0,1);
  box-shadow: inset 0px 3px 17px -6px rgba(0,0,0,1);

}

#datos{
    margin-top: 50px;
}
#acerca{
    margin-top: 85px;
    
}

#nombre{
    float: left;
    margin-top: 5px;
}
#nombre p{
    text-align: center;
}
#bot {
    float: left;
    margin-right: 10px;
}
p.cuerpo{
    text-align: justify;
}
p.h4 {
    font-weight:200;
    padding:3px 0 3px 10px;
}
/* estilo iconos */

.fa-pen {
    margin-right: 5px;
    padding:6px;
    background-position: center;
    width: 30px;
    height: 30px;
    float: right;
    border: 1px solid rgb(0, 0, 0)  ;
    border-radius: 50%; 
  }
  
  /* logo iconos hover */
  .fa-pen:hover {
      background-color:rgba(165, 210, 243, 0.719);
    box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
  -webkit-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
  -moz-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
  cursor:pointer;
  
  -webkit-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
  -moz-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
  -o-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
  transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
    
  }
  