<app-barra></app-barra>
<div class="container">
    <div class="row mt-5">
        <h4 class="titulo">Crear Educación</h4>
        <div class="col-md-6 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                
                <div class="form-group">
                    <label for="imagenEd">url Imagen</label>
                    <input type="text" class="form-control" id="imagenEd" name="imagenEd"
                    [(ngModel)]="imagenEd" required>
                </div>
                <div class="form-group">
                    <label for="institucion">Institucion</label>
                    <input type="text" class="form-control" id="institucion" name="institucion"
                    [(ngModel)]="institucion" required>
                </div>
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo"
                    [(ngModel)]="titulo" required>
                </div>
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" name="estado"
                    [(ngModel)]="estado" required>
                </div>
                <div class="form-group">
                    <label for="comienzoEd">Comienzo</label>
                    <input type="text" class="form-control" id="comienzoEd" name="comienzoEd"
                    [(ngModel)]="comienzoEd" required>
                </div>
                <div class="form-group">
                    <label for="finEd">Fin</label>
                    <input type="text" class="form-control" id="finEd" name="finEd"
                    [(ngModel)]="finEd" required>
                </div>
                <div class="centrar">
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                        <i class="fas fa-plus-circle" (click)="onCreate()"></i> Crear</button>
    
                    <button class="btn btn-outline-primary btn-block" routerLink="/portfolio">
                        <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                    </div>   
                </form>
            </div>
        </div>
        </div>
    
    <app-footer></app-footer>