
<div role="document">
    <div>
      <form class="form-horizontal" id="add-form" [formGroup]="editPostForm" (ngSubmit)="onPostEditFormProyecto()">
        <div class="modal-header" *ngIf="proyecto">
          <h4 class="modal-title" id="add-modal-label">Editar Proyecto</h4>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true"></span></button>
         
        </div>
        <div class="entrador">
        <div class="modal-body">
         
          <div class="form-group">
            <label class="col-sm-6 control-label">Título</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="tituloProy" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label">Url imagen</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="imagenProy" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label">Descripción</label>
            <div class="col-sm-12">
              <textarea class="form-control" formControlName="descripcion"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label">Link</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="link" />
            </div>
          </div>
        
          
       
      </div>
        <div class="modal-footer">
          <div class="centrar">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Cerrar</button>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </div>
        </div>
      </form>
    </div>
  </div>
