<div class="container">
    
    <div class="row">
                <div id="educacion" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <div><i class="fas fa-plus" *ngIf="isLogged" data-bs-toggle="modal" data-bs-target="#crearEd"></i> </div>
                    <p class="h3">Educacion</p>
                    <div class="separador"> </div>
                </div>
               
                <ul>
                    <div class="row">
                    <li *ngFor="let escuela of escuelaList">
                        
                        <div id="imagen" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div> <img [src]="escuela.imagenEd"></div>
                            
                        </div>
                        
                        <div id="acerca" class="col-xs-11 col-sm-6 col-md-6 col-lg-8">
                            <div class="fas fa-trash" *ngIf="isLogged" (click)="borrarEscuela(escuela.id)"> </div>
                            <div class="fas fa-pen" *ngIf="isLogged"(click)="editPost(escuela.id)"> </div>
                            
                            <span><p class="h4">{{escuela.institucion}}  </p>
                                <p>{{escuela.titulo}}</p>
                                <p>{{escuela.estado}}</p>
                                <p><time>{{escuela.comienzoEd}}</time> - <time>{{escuela.finEd}}</time></p>
                               
                            </span>
                            
                        </div>
                    
                    </li>
                    </div>
                </ul>
                

           
    </div>
        
</div>

     

  <!-- Modal -->
  <div class="modal fade" id="crearEd" tabindex="-1" aria-labelledby="exampleModalLabel"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Educación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                
                <div class="form-group">
                    <label for="imagenEd">url Imagen</label>
                    <input type="text" class="form-control" id="imagenEd" name="imagenEd"
                    [(ngModel)]="imagenEd" required>
                    <div class="recomendacion">Tamaño recomendado 250 x 113 px</div>
                </div>
                <div class="form-group">
                    <label for="institucion">Institucion</label>
                    <input type="text" class="form-control" id="institucion" name="institucion"
                    [(ngModel)]="institucion" required>
                </div>
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo"
                    [(ngModel)]="titulo" required>
                </div>
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" name="estado"
                    [(ngModel)]="estado" required>
                </div>
                <div class="form-group">
                    <label for="comienzoEd">Comienzo</label>
                    <input type="text" class="form-control" id="comienzoEd" name="comienzoEd"
                    [(ngModel)]="comienzoEd" required>
                </div>
                <div class="form-group">
                    <label for="finEd">Fin</label>
                    <input type="text" class="form-control" id="finEd" name="finEd"
                    [(ngModel)]="finEd" required>
                </div>
                <div class="centrar">
                    <button type="button" class="btn btn-primary" (click)="onCreate()" data-bs-dismiss="modal" >Crear</button>
                    
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>     
                </form>
            
        </div>
        
      </div>
    </div>
  </div>  
   
