<div role="document">
    <div>
      <form class="form-horizontal" id="add-form" [formGroup]="editPostForm" (ngSubmit)="onPostEditFormEscuela()">
        <div class="modal-header" *ngIf="escuela">
          <h4 class="modal-title" id="add-modal-label">Editar Educación</h4>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true"></span></button>
         
        </div>
        <div class="entrador">
        <div class="modal-body">
         
          <div class="form-group">
            <label class="col-sm-6 control-label">Institución</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="institucion" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label">Url imagen</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="imagenEd" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label">Título</label>
            <div class="col-sm-12">
              <textarea class="form-control" formControlName="titulo"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label">Estado</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="estado" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label">Comienzo</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="comienzoEd" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label">Fin</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="finEd" />
            </div>
          </div>
          
       
      </div>
        <div class="modal-footer">
          <div class="centrar">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Cerrar</button>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </div>
        </div>
      </form>
    </div>
  </div>
