
<div class="container">

    <div class="row">
                <div id="proyectos" class="col-12" >
                <div><i class="fas fa-plus" data-bs-toggle="modal" data-bs-target="#crearProy"></i> </div>
                    <p class="h3">Proyectos</p>
                    <div class="separador"> </div>
    </div>
    <ul>
    <div class="row">
        <li *ngFor="let proyecto of proyectoList">
    <div id="imagen" class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
        <div>
            <img [src]="proyecto.imagenProy"class="img-fluid">
        </div>
</div>
<div id="acerca" class="col-xs-12 col-sm-4 col-md-6 col-lg-7">
 <span>
    <div class="fas fa-trash" (click)="borrarProyecto(proyecto.id)" > </div>
    <div class="fas fa-pen"  routerLink="/editarProy/{{proyecto.id}}"> </div>
    <p class="h4">{{proyecto.tituloProy}}</p>
    <p class="cuerpo">{{proyecto.descripcion}} </p>
    <a href= {{proyecto.link}} class="btn btn-primary" target="_blank">Ver Proyecto</a>
 </span>
</div>
        </li>
        </div>
    </ul>

    </div>
</div>
    

  <!-- Modal -->
  <div class="modal fade" id="crearProy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <div class="form-group">
                        <label for="imagenProy">url imagen</label>
                        <input type="imagenProy" class="form-control" id="imagenProy" name="imagenProy"
                        [(ngModel)]="imagenProy" required>
                    </div>
                    <label for="tituloProy">Titulo</label>
                    <input type="text" class="form-control" id="tituloProy" name="tituloProy"
                    [(ngModel)]="tituloProy" required>
                </div>
               
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <textarea name="descripcion" class="form-control" 
                    [(ngModel)]="descripcion" required  id="descripcion"></textarea>
                </div>
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="link" class="form-control" id="link" name="link"
                    [(ngModel)]="link" required>
                </div>
                
            <div class="centrar">
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle" (click)="onCreate()" data-bs-dismiss="hide.bs.modal" ></i> Crear</button>
                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>   
            </form>
        </div>
        
      </div>
    </div>
  </div>