#proyectos{
    margin-top: 50px;
}
#acerca{
   
  float: right; margin-top: 20px;
}
#imagen{
  margin-top: 20px; float: left;
}
p.cuerpo{
  text-align: justify;
}

p.h3 {
  font-weight:300;
  padding:3px 0 3px 10px;
}
ul li{
  list-style-type: none;
  margin: 0;
  padding: 0; float: left;
  }
.fa-pen {
    margin-right: 5px;
    padding: 10px;
    width: 30px;
    height: 30px;
    float: right;
    
  }
/* estilo formulario */
  textarea{
    padding: 7px;
    width:100%;
    height: 200px;
   
   }
   .titulo{
       font-size: 35px;
       text-align: center;
       color: rgb(117, 162, 194);
   }
   form{
       border: 2px rgb(248, 248, 248) ;
       padding: 20px;
       border-radius: 10px;
       box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
       -webkit-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
       -moz-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
   }
   label{
       font-size: 16px;
       font-weight: bold;
       color:rgb(117, 162, 194);
       margin: 5px auto 5px auto;
   }
   .centrar{
       margin: 15px auto 5px auto;
       text-align: center;
   }
   .btn {
       margin-right: 10px;
   }
 /* estilo iconos */

.fa-pen {
  margin-right: 5px;
  padding:6px;
  background-position: center;
  width: 30px;
  height: 30px;
  float: right;
  border: 1px solid rgb(0, 0, 0)  ;
  border-radius: 50%; 
}


.fa-pen:hover {
    background-color:rgba(165, 210, 243);
  box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
-webkit-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
-moz-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
cursor:pointer;

-webkit-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
-moz-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
-o-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
  
}

.fa-trash {
    
  margin-right: 5px;
  padding:6px 18px 7px 7px;
  background-position: center;
  width: 30px;
  height: 30px;
  float: right;
  border: 1px solid rgb(0, 0, 0)  ;
  border-radius: 50%; 
  
}


.fa-trash:hover {
  background-color:rgba(165, 210, 243);
  box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
-webkit-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
-moz-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
cursor:pointer;

-webkit-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
-moz-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
-o-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
  
}
.fa-plus {
  margin-right: 5px;
  padding:6px 8px 7px 7px;
  background-position: center;
  width: 30px;
  height: 30px;
  float: right;
  border: 1px solid rgb(0, 0, 0)  ;
  border-radius: 50%; 
  
}


.fa-plus:hover {
  background-color:rgba(165, 210, 243, 0.719);
  box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
-webkit-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
-moz-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
cursor:pointer;

-webkit-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
-moz-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
-o-transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
transition: background 0.6s 0s ease, box-shadow 0.5s 0s ease;
  
}
.centrar{
  margin: 15px auto 5px auto;
  text-align: center;
}
.btn {
  margin-right: 10px;
}