<app-barra></app-barra>

<div class="container" *ngIf="skillList">
    
    <div class="row mt-5">
        <h4 class="titulo">Editar Skill</h4>
        <div class="col-md-6 mx-auto">
            <form (ngSubmit)="onUpdate(skillList.id)" novalidate #f="ngForm">
            <div class="form-group">
                    <label for="nombreSkill">Skill </label>
                    <input type="text" class="form-control" id="nombreSkill" name="nombreSkill"
                    [(ngModel)]="skillList.nombreSkill" required>
                </div>
                <div class="form-group">
                    <label for="percent">Porcentaje</label>
                    <input type="text" class="form-control" id="percent" name="percent"
                    [(ngModel)]="skillList.percent" required>
                </div>
               
           
            <div class="centrar">
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-pencil-alt" ></i> Actualizar</button>

                <button class="btn btn-outline-primary btn-block" routerLink="/portfolio">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
                </div>   
            </form>
        </div>
    </div>
    </div>

<app-footer></app-footer>



