textarea{
    padding: 7px;
    width:100%;
    height: 200px;
   
   }
   .titulo{
       font-size: 35px;
       text-align: center;
       color: rgb(117, 162, 194);
   }
   .entrador{
       margin: 20px;
       border: 2px rgb(248, 248, 248) ;
       border-radius: 10px;
       box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
       -webkit-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
       -moz-box-shadow: -1px 11px 18px -5px rgba(0,0,0,0.41);
   }
   label{
       font-size: 16px;
       font-weight: bold;
       color:rgb(117, 162, 194);
       margin: 5px auto 5px auto;
   }
   .centrar{
       margin: 15px auto 5px auto;
       text-align: center;
   }
   .btn {
       margin-right: 10px;
   }