<div class="container">
    <div class="row">
                <div id="experiencia" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <div><i class="fas fa-plus" data-bs-toggle="modal" data-bs-target="#crearEx"></i> </div>
                    <p class="h3">Experiencia</p>
                    <div class="separador"> </div>
    </div>
    <ul>
        <div class="row">
        <li *ngFor="let experiencia of experienciaList">
            <div id="imagen" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div>
                    <img [src]="experiencia.imagenEx" class="img-fluid">
                </div>
        </div>
        <div id="acerca" class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
                            <div class="fas fa-trash" (click)="borrarExperiencia(experiencia.id)" ></div>
                            <div class="fas fa-pen"(click)="editPost(experiencia.id)"> </div>
         <span>
            <p class="h4">{{experiencia.empresa}}</p>
            <p>{{experiencia.posicion}}</p>
            <p>{{experiencia.tipoEmpleo}}</p>
            <p><time>{{experiencia.comienzoEx}}</time> - <time>{{experiencia.finEx}}</time></p>
         </span>
        </div>
        </li>
    </div>
    </ul> 
  
</div>
   
    
</div>

    
  <!-- Modal -->
  <div class="modal fade" id="crearEx" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Experiencia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <div class="form-group">
                        <label for="imagenEx">url imagen</label>
                        <input type="imagenEx" class="form-control" id="imagenEx" name="imagenEx"
                        [(ngModel)]="imagenEx" required>
                        <div class="recomendacion">Tamaño recomendado 250 x 113 px</div>
                    </div>
                    <label for="empresa">Empresa</label>
                    <input type="text" class="form-control" id="empresa" name="empresa"
                    [(ngModel)]="empresa" required>
                </div>
               
                <div class="form-group">
                    <label for="posicion">Cargo</label>
                    <textarea name="posicion" class="form-control" 
                    [(ngModel)]="posicion" required  id="posicion"></textarea>
                </div>
                <div class="form-group">
                    <label for="tipoEmpleo">Tipo Empleo</label>
                    <input type="tipoEmpleo" class="form-control" id="tipoEmpleo" name="tipoEmpleo"
                    [(ngModel)]="tipoEmpleo" required>
                </div>
               
                <div class="form-group">
                    <label for="comienzoEx">Comienzo</label>
                    <input type="text" class="form-control" id="comienzoEx" name="comienzoEx"
                    [(ngModel)]="comienzoEx" required>
                </div>
               
                <div class="form-group">
                    <label for="finEx">Fin</label>
                    <input type="finEx" class="form-control" id="finEx" name="finEx"
                    [(ngModel)]="finEx" required>
                </div>
                <div class="centrar">
                    <button type="button" class="btn btn-primary" (click)="onCreate()" data-bs-dismiss="modal" >Crear</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>   
                </form>
            
        </div>
        
      </div>
    </div>
  </div>
   
