<div class="container">
 
                <div id="skills" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <i class="fas fa-plus" routerLink="/crearSkill"></i> 
                        <p class="h3">Hard & Soft Skills </p>                   
                    <div class="separador"></div>                
                </div>
                
            <div class="row">                  
                <ul>  
                     
                  <li *ngFor="let skill of skillList">
                        
                    <div id="grafico" class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        
                        <div style="max-width: 100%;">                           
                            <!--<div class="card-header">{{skill.nombreSkill}}</div>-->

                                <div id="botonera"> 
                                <div class="fas fa-trash" (click)="borrarSkill(skill.id)" > </div>
                                 <div class="fas fa-pen"  routerLink="/editarSkill/{{skill.id}}"> </div>
                                </div>

                            <div class="card-body text-dark">

                                <circle-progress
                                [percent]="skill.percent"
                                [radius]="80"
                                [outerStrokeWidth]="12"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#006ec2'"
                                [innerStrokeColor]="'#95c2e4'"
                                [animation]="true"
                                [animationDuration]="300"
                                [clockwise]= "false"
                                [responsive]= "true"
                                [subtitle]="skill.nombreSkill"
                                [subtitleFontSize]="'20'"
                                [subtitleColor]="'#006ec2'"
                                
                               
                                 
                                 >
                                </circle-progress>
                                
                            </div>
                        </div>
                    </div>
     
                
            </li>
        
    
                </ul>

</div>
    