<div class="container">

    <div class="row">
                <div id="skills" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <p class="h3">Hard & Soft Skills </p>
                    <div class="separador"> </div>
                </div>

                <div id="grafico" class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div>
                        <div class="card border-ligth" style="max-width: 100%;">
                            <div class="card-header">HTML</div>
                            <div class="card-body text-dark">
                                <circle-progress
                                [percent]="90"
                                [radius]="100"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#006ec2'"
                                [innerStrokeColor]="'#95c2e4'"
                                [animation]="true"
                                [animationDuration]="300"
                                [clockwise]= "false"
                                [responsive]= "true"  
                              
                            ></circle-progress>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grafico" class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div>
                    <div class="card border-ligth" style="max-width: 100%;">
                        <div class="card-header">CSS</div>
                        <div class="card-body text-dark">
                            <circle-progress
                                [percent]="90"
                                [radius]="100"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#006ec2'"
                                [innerStrokeColor]="'#95c2e4'"
                                [animation]="true"
                                [animationDuration]="300"
                                [clockwise]= "false"
                                [responsive]= "true"    
                            ></circle-progress>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grafico" class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div>
                    <div class="card border-ligth" style="max-width: 100%;">
                        <div class="card-header">SQL</div>
                        <div class="card-body text-dark">
                            <circle-progress
                                [percent]="80"
                                [radius]="100"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#006ec2'"
                                [innerStrokeColor]="'#95c2e4'"
                                [animation]="true"
                                [animationDuration]="300"
                                [clockwise]= "false"
                                [responsive]= "true"    
                            ></circle-progress>
                        </div>
                    </div>
                </div>
            </div>

            <div id="grafico" class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div>
                    <div class="card border-ligth" style="max-width: 100%;">
                        <div class="card-header">JAVA</div>
                        <div class="card-body text-dark">
                            <circle-progress
                                [percent]="75"
                                [radius]="100"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#006ec2'"
                                [innerStrokeColor]="'#95c2e4'"
                                [animation]="true"
                                [animationDuration]="300"
                                [clockwise]= "false"
                                [responsive]= "true"    
                            ></circle-progress>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grafico" class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div>
                    <div class="card border-ligth" style="max-width: 100%;">
                        <div class="card-header">ANGULAR</div>
                        <div class="card-body text-dark">
                            <circle-progress
                                [percent]="85"
                                [radius]="100"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#006ec2'"
                                [innerStrokeColor]="'#95c2e4'"
                                [animation]="true"
                                [animationDuration]="300"
                                [clockwise]= "false"
                                [responsive]= "true"    
                            ></circle-progress>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grafico" class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div>
                    <div class="card border-ligth" style="max-width: 100%;">
                        <div class="card-header">BOOTSTRAP</div>
                        <div class="card-body text-dark">
                            <circle-progress
                                [percent]="80"
                                [radius]="100"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="8"
                                [outerStrokeColor]="'#006ec2'"
                                [innerStrokeColor]="'#95c2e4'"
                                [animation]="true"
                                [animationDuration]="300"
                                [clockwise]= "false"
                                [responsive]= "true"    
                            ></circle-progress>
                              
                            </div>
                        </div>
                    </div>
                </div>
    </div>
   
</div>
    