<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row">
        <div id="cabecera" class="col">
             <div id="logoArgPro">
                    <a href="https://www.argentinaprograma.com.ar/" target="_blank"><img src="../../../assets/APLogo.png"></a>
            </div>
    
    <div id="logos"class="col">
       
        <a href="https://www.facebook.com/cinthia.grossio" target="_blank" class="fa fa-github" ></a>
        <a href="https://www.facebook.com/cinthia.grossio" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/amapola.crochet" target="_blank" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/cinthia-maria-grosso/" target="_blank"class="fa fa-linkedin"></a>
        <a href="" class="login" *ngIf="isLogged" (click)="onLogOut()"> Logout </a>

        
    </div>
    </div>
