<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row">
        <div id="cabecera" class="col">
             <div id="logoArgPro">
                    <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img src="../../../assets/APLogo.png"></a>
            </div>
    
    <div id="logos"class="col">
       
        <a href="https://github.com/grossocinthia" title="GitHub" target="_blank" class="fa fa-github" ></a>
        <a href="https://www.facebook.com/cinthia.grossio" title="Facebook" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/amapola.crochet" title="Instagram" target="_blank" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/cinthia-maria-grosso/" title="Linkedin" target="_blank"class="fa fa-linkedin"></a>

        <a href=""  title="Cerrar Sesión" class="fa fa-sign-out" aria-hidden="true" *ngIf="isLogged" (click)="onLogOut()"></a>
    </div>
    
    </div>
